<div class="card">


  <h1>Admissions open for Kindergarten</h1>
  <div class="card-header bg-pink text-white">
    <strong>Student Details</strong>
    <button type="button" class="btn btn-info btn-sm" (click)="onAddStudent()" style="float:right;">
      Add Student
    </button>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <!-- <th><input type="checkbox" [(ngModel)]="isSelectAll" (ngModelChange)="onCheckAll()"></th> -->
              <!-- <th>Id</th> -->
              <th>Full Name</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Address</th>
              <th >Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of studentArr">
              <!-- <td>
                <input type="checkbox" [(ngModel)] ="item.isChecked">
              </td> -->
              <!-- <td>{{item.studentId}}</td> -->
              <td>{{item.fullName}}</td>
              <td>{{item.email}}</td>
              <td>{{item.mobile}}</td>
              <td>{{item.address}}</td>
              <td class="text-center">
                <button  type="button" class=" btn btn-warning btn-sm" (click)="onEdit(item)">Edit</button>&nbsp;
                <button  type="button" class=" btn btn-danger btn-sm" (click)="onDelete(item.studentId)">Remove</button>&nbsp;

              </td>
            </tr>
          </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<!-- THE MODAL -->
<div class="modal" id="studentModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
     <div class="modal-header bg-success" text-white>
      <h6 class="modal-title"> Add Student Details</h6>
      <button type="button" class="btn-close btn-sm text-white" (click)="onCloseModal()"></button>
     </div>

  <form #userForm>
    <!-- (ngSubmit)="saveStudent(userForm)" #userForm="ngForm" -->
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
          <div class=" col-md-8">
            <label class="for-label">Full Name</label>
            <input type="text" name="name" class="form-control" placeholder="Full Name" [(ngModel)]="student.fullName"  required/>

          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label class="for-label">Email</label>
            <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="student.email"  required/>

          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label class="for-label">Mobile</label>
            <input type="text" name="mobile" class="form-control" placeholder="Mobile" [(ngModel)]="student.mobile" required/>

          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <label>Address</label>
            <textarea name="address" class="form-control" rows="3"  placeholder="Address" [(ngModel)]="student.address"></textarea>
          </div>
        </div>
      </div>
      <!-- Modal_footer -->
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-6" text-center>
            <button class="btn btn-secondary btn-sm" (click)="onCloseModal()">Cancel</button>
          </div>
          <div class="col-md-6 text-center">
            <button class="btn btn-success btn-sm"
            (click)="saveStudent(userForm)" *ngIf="student.studentId== 0">Save</button>
            <button class="btn btn-success btn-sm"
            (click)="onUpdate()" *ngIf="student.studentId!== 0">Update</button>
          </div>
        </div>

      </div>
     </form>
    </div>
  </div>
</div>

