/* You can add global styles to this file, and also import other style files */

/* body{
  background-image: url("C:\Udemy\ANGULAR\StudentApp\src\assets\1209458.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */
